<!DOCTYPE html>
<html>
    <head>
        <title>
            Student form
        </title>
    </head>
    <body>
        <form action="http://localhost:5000/result" method="POST">
            <p>Name <input type="text" name="name"></p>
            <p>Physics <input type="text" name="phy"></p>
            <p>Chemistry <input type="text" name="chem"></p>
            <p>Mathematics <input type="text" name="math"></p>
            <p><input type="submit" value="Submit"></p>
        </form>
    </body>
</html>