static/uploads/
output.png
__pycache__/
.DS_Store
Flask testing/
deskew_out.png
deskew_thresh.png
outs.png
.vscode/
out.png
API/Flask-API-testing/.env
API/Flask-API-testing/firebase-private-key.json
API/Flask-API-testing - Copy/firebase-private-key.json
API/Flask-API-testing - Copy/.env
