@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body{
    background-color: #FFFDF7;
    padding: 0%;
    padding-top: 0%;
    margin: 0%;
    margin-top: 0%;
    font-family: 'Varela Round', sans-serif;
}

#square{
    border-radius: 120px;
    width: 300px;
    height: 300px;
    border:15px #FFFEE6;
    padding: 50px;
    margin: 12px;
    font-size: 1.25em;
    background-color: #E8E5D1;
    size: 200%;
}

#header{
    text-align: center;
    border: 0;
    margin: 0%;
    font-size: 2em;
    background-color: #3F403D;
}

#heading{
    color:#7E807A;
}

