<html>
<head>
<title>RECIPE VIEWER</title>
<link rel="stylesheet" type="text/css" href ="static/style.css">
</head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"-->
<body>

    <div id="header">
            <p id="heading">Recipe Viewer</p>
    </div>
    <center>
    <div id="square">
        
        <form method="POST" enctype="multipart/form-data" action="{{url_for('create_user')}}">
        <!-- <input type="file" name="file" id="selectedFile" class="button1" multiple accept="image/*"> -->
        <!-- <p style="color:black;font-size:25px" ><b>DROP YOUR FILES HERE</b></p> -->
        <p>Mail</p>
        <input type="email"  name="email" required id="email">
        <p>Password</p>
        <input type="password"  name="password" required id="password"> 
        <p>Confirm Password</p>
        <input type="password"  name="confirm_password" required id="confirm_password"> 
        <br>
        <br>
        <a href="{{url_for('create_user')}}"><button type="submit">Create</button></a>
        
    </div>
    </center>
</form>
</form>
</body>
</html>
