<!DOCTYPE html>
<html>

<head>
    <title>Recipe Viewer</title>
    
    {% if msg == "aFile uploaded successfully" %}
    <script>
    window.setTimeout(function(){
        location.reload();
        },7000);
    </script>
    {% endif %}
</head>

<body>
    <h3>Upload images:</h3>
    <form method="POST" enctype="multipart/form-data" action="result">
        <input type="file" name="file" multiple onchange="this.form.submit()"><br>
        <!-- <input type="checkbox" name="getall" value="Get all images" checked> Get all images <br> -->
        <input type="checkbox" name="geting" value="Get Ingredients and Steps" checked> Get Ingredients and Steps <br>
        <!-- <input type="submit" value="Upload"> -->
    </form>
</body>

</html>